#img_box{
    background-image: url("../images/backgrounds/icon-img_upload.png");
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
#img_box1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
input[type='file'] {
    color: transparent;
    opacity: 0;
    cursor: pointer;
}
#formImage{
    display: flex;
    justify-content: center;
}